page-obituaries-details {
  .content{
    font-family: 'Source Sans Pro', sans-serif !important;
    src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
    font-size: 16px;
    line-height: 1.7em;
  }

}
