page-sports-details {
  h3{
    text-align: center;
    font-family: "athelas", serif;
  }
  .content{
    font-family: 'Source Sans Pro', sans-serif !important;
    src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
    font-size: 16px;
    line-height: 1.7em;
  }
  span.author{
    font-style: italic;
    font-size: 80%;
  }
}
