page-sports-details {
  h3{
    text-align: center;
    font-family: "athelas", serif;
  }
  p.content{
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  }
}
