page-settings {
  h3{
    text-align: center;
    font-family: "athelas", serif;
    text-decoration: underline;
  }
  .toggle{
    padding: 5px;
    margin-left: 3px;
    font-family:sans-serif;
  }
  .head{
    font-size: 110%;
    color: grey;
  }
}
